<!-- <div class="container-scroller">
  <ng-container *ngIf="showNavbar">
    <div class="container-fluid page-body-wrapper">
      <app-sidebar></app-sidebar>
      <div class="main-panel">
        <div class="content-wrapper">
          <ng-container *ngTemplateOutlet="template"></ng-container>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!showNavbar">
    <ng-container *ngTemplateOutlet="template"></ng-container>
  </ng-container>
</div>
<div class="bg bg-color" *ngIf="showLoader">
  <div class="loader" id="loader-1"></div>
</div>
<ng-template #template>
  <router-outlet></router-outlet>
</ng-template>
 -->

<div class="container-fluid col-md-4">
  <div class="row mt-3">
    <div class="col-md-6">
      <button class="btn btn-primary" *ngIf="!isLoggedIn()" (click)="login()">Login</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary" *ngIf="isLoggedIn()" (click)="logout()">Logout</button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-6">
      <button class="btn btn-primary" routerLink="/auth/registration" *ngIf="isLoggedIn()" >Registration</button>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col text-center">
      <div class="text-danger" *ngIf="!isLoggedIn()">
         you are Not logged In!
      </div>
      <div class="text-success"*ngIf="isLoggedIn()">
         you are loggedIn is Success...
         <h1>{{userObj.preferred_username}}</h1>
      </div>
    </div>
  </div>
</div>

<lib-ng-toast></lib-ng-toast>

<app-sidebar></app-sidebar>
