<div class="side-nav">
  <a class="logo" href="">
    <img class="logo-icon" src="https://mpng.subpng.com/20190330/tco/kisspng-boston-red-sox-logo-desktop-wallpaper-baseball-boston-red-sox-b-logo-vinyl-decal-sticker-5-size-5c9fb4b103b957.9643954015539703530153.jpg" alt="" >
    <img class="logo-img" src="https://upload.wikimedia.org/wikipedia/en/a/ae/Logo_of_Big_Market.png" alt="" >
  </a>
    <ul class="list-group">
      <li class="list-item"><a href="#"><i class="fa fa-thin fa-user fa-2x"></i><p>Profile</p></a></li>
      <li class="list-item"><a href="#"><i class="fa fa-thin fa-box-open fa-2x"></i><p>Orders</p></a></li>
      <li class="list-item"><a href="#"><i class="fa-brands fa-bitcoin fa-2x"></i><p>Rewords</p></a></li>
      <li class="list-item"><a href="#"><i class="fa-solid fa-users fa-2x"></i><p>Reference</p></a></li>
      <li class="list-item"><a href="#"><i class="fa-solid fa-screwdriver-wrench fa-2x"></i><p>Sttings</p></a></li>
      <div class="active"></div>
    </ul>
</div>

